body,
section,
span,
ul,
li,
i,
a,
b,
img,
div,
h1,
h2,
h3,
h4,
h5,
h6,
input,
dl,
dt,
dd,
form,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: "微软雅黑";
  font-size: 12px;
  color: #3d3d3d;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #60c0f9;
}
li {
  list-style: none;
}
p {
  list-style: none;
}
img {
  border: none 0;
  vertical-align: top;
}
i {
  font-style: normal;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  height: 0;
  font: 0;
  clear: both;
  visibility: hidden;
  content: ".";
  display: block;
}
.hader {
  height: 126px;
  width: 100%;
  border-top: 7px solid #006bb4;
}
.hader-1 {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  background: url(../images/top-img.png) no-repeat left;
}
.hader-right {
  float: right;
  font-size: 18px;
  width: 482px;
  height: 40px;
  margin-top: 43px;
}
.hader-right li {
  float: left;
  margin: 0 34px 0 12px;
  height: 50px;
}
.hader-right a {
  color: #3d3d3d;
}
.hader-right a:hover {
  color: #60c0f9;
}
.position_1 {
  position: relative;
}
.position_1_2 {
  position: absolute;
  left: -10px;
  top: 50px;
  width: 203px;
  height: auto;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  z-index: 67;
  background: #fff;
  padding: 20px 20px 0 15px;
}
.position_1_2 dd {
  float: left;
  width: 213px;
  line-height: 38px;
  position: relative;
  font-size: 12px ;
  height: 38px;
  padding-left: 10px;
}
.position_1_2 dd a:hover {
  background: #eeeeee;
  border-radius: 4px;
}
.position_1_2 dd a {
  float: left;
  width: 190px;
  padding-left: 10px;
}
.position_1_2_3 {
  position: absolute;
  left: 100%;
  top: -10px;
  width: 196px;
  height: auto;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  z-index: 67;
  background: #fff;
  padding: 16px 16px 0 26px;
}
.position_1_2_3 dd {
  float: left;
  width: 180px;
  line-height: 36px;
  font-size: 12px;
  height: 36px;
}
.position_1_2_3 dd a:hover {
  background: #eeeeee;
  border-radius: 4px;
}
.position_1_2_3 dd a {
  float: left;
  width: 180px;
}
#top {
  height: 508px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#top_left,
#top_right {
  position: absolute;
  top: 50%;
  z-index: 999;
  width: 113px;
  height: 113px;
  overflow: hidden;
  margin-top: -56px;
  background: url("../images/anniu.png") no-repeat 0px 0px / 100% auto;
}
#top_left {
  left: 0;
}
#top_right {
  right: 0;
  background-position: 0px -113px;
}
.top_img_1 {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -960px;
  width: 1920px;
  height: 460px;
}
.top_btn .top_btn_1 {
  background: #0072c9;
}
.top_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 460px;
}
.top_img img {
  width: 100%;
  height: 460px;
}
.top_btn {
  width: 100%;
  height: 28px;
  margin-top: 2px;
  background: #eaeaea;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  padding-top: 17px ;
}
.top_btn span {
  width: 108px;
  height: 9px;
  background: #dadada;
  display: inline-block;
  vertical-align: top;
}
#Middle {
  width: 100%;
  height: 273px;
  background: #fff;
  padding-top: 111px;
}
.Middle_top {
  width: 1000px;
  height: 160px;
  overflow: hidden;
  margin: 0 auto;
}
.four {
  width: 200%;
}
.four li {
  float: left;
  width: 167px;
  height: 160px;
  position: relative;
  overflow: hidden;
}
.four li span {
  background: url(../images/shouye_tubiao.png) no-repeat left;
  width: 167px;
  height: 160px;
  display: block;
}
.four .four_1 span:hover {
  background-position: 0px -177px !important;
}
.four .four_2 span:hover {
  background-position: -180px -177px !important;
}
.four .four_3 span:hover {
  background-position: -345px -177px !important;
}
.four .four_4 span:hover {
  background-position: -515px -177px !important;
}
.four .four-wenben {
  width: 300px;
  height: 152px;
  position: absolute;
  left: 188px;
  top: 0;
  padding-top: 8px;
}
.four .four-wenben h3 {
  height: 34px;
  line-height: 34px;
  color: #1275b9;
  font-weight: 400;
  font-size: 24px;
}
.four .four-wenben p {
  line-height: 24px;
  height: auto;
  color: #44464F;
}
.four_0 {
  background-position: 0px 0px !important;
}
.four_2 {
  background-position: -180px 0px !important;
}
.four_3 {
  background-position: -345px 0px !important;
}
.four_4 {
  background-position: -515px 0px !important;
}
.Middle_zhong {
  width: 100%;
  height: 450px;
  background: #f6f6f6;
  padding-top: 51px;
  border-bottom: 1px solid #ebebeb;
}
.Middle_zhong h3 {
  width: 57px;
  height: 34px;
  overflow: hidden;
  background: url(../images/gongyong.png) no-repeat;
  margin-left: 2px;
  padding: 7px 0 0 63px;
  color: #989799;
  font-size: 14px;
}
.Middle_zhong_width {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.tow_img {
  width: 100%;
  height: 242px;
  margin-top: 32px;
}
.one_img {
  float: left;
  width: 491px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.one_img span {
  display: block;
  width: 491px;
  height: 100%;
}
.one_img p {
  display: inline-block;
  position: absolute;
  color: #fff;
  padding: 24px 14px 0 23px;
  width: 454px;
  height: 218px;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#C40078DD', endColorstr='#C40078DD');
  background: rgba(0, 120, 221, 0.77);
  top: 100%;
  left: 0;
}
.one_img_1 {
  float: right;
  width: 491px;
  height: 242px;
  background: url(../images/zhongjian2.png) no-repeat #44464f;
}
.one_img_1 ul {
  overflow: hidden;
  width: 491px;
  height: 242px;
}
.one_img_1 li {
  padding: 105px 0 0 94px;
  color: #fff;
  font: 12px;
  width: 386px;
  line-height: 24px;
  height: 137px;
}
.anjian {
  float: right;
  width: 70px;
  height: 31px;
  margin: 4px 10px 0 0;
}
.anjian i {
  width: 31px;
  height: 31px;
}
.anjian1 {
  float: left;
  background: url(../images/gongyong.png) no-repeat;
  background-position: -172px -26px;
}
.anjian1:hover {
  background: url(../images/gongyong.png) no-repeat;
  background-position: -172px -70px;
}
.anjian2 {
  float: right;
  background: url(../images/gongyong.png) no-repeat;
  background-position: -207px -70px;
}
.anjian2:hover {
  background: url(../images/gongyong.png) no-repeat;
  background-position: -207px -26px;
}
.Middle_bottom {
  width: 100%;
  height: 281px;
  background: #fff;
  padding-top: 38px;
  border-bottom: 2px solid #e3e3e3;
}
.Middle_bottom h3 {
  width: 57px;
  height: 32px;
  overflow: hidden;
  background: url(../images/gongyong.png) no-repeat;
  background-position: 0 -53px;
  padding: 13px 0 0 78px;
  color: #989799;
  font-size: 14px;
}
.Middle_bottom_width {
  width: 1010px;
  height: 100%;
  margin: 0 auto;
}
.wuxian {
  width: 1000px;
  height: 180px;
  overflow: hidden;
}
.wuxian ul {
  width: 3000px;
  height: 132px;
  margin-top: 43px;
  overflow: hidden;
}
.wuxian li {
  float: left;
  border: 1px solid #f7f7f7;
  border-radius: 1px;
  margin-right: 10px;
}
.anniu {
  float: right;
  width: 70px;
  height: 31px;
  margin: 4px 10px 0 0;
}
.anniu i {
  width: 31px;
  height: 31px;
}
.anniu1 {
  float: left;
  background: url(../images/gongyong.png) no-repeat;
  background-position: -172px -26px;
}
.anniu1:hover {
  background: url(../images/gongyong.png) no-repeat;
  background-position: -172px -70px;
}
.anniu2 {
  float: right;
  background: url(../images/gongyong.png) no-repeat;
  background-position: -207px -70px;
}
.anniu2:hover {
  background: url(../images/gongyong.png) no-repeat;
  background-position: -207px -26px;
}
.bottom {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #00223a;
  background: url(../images/bottom_bg.png);
  padding-top: 22px;
}
.all {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.all h3 {
  padding-left: 23px;
  font-size: 14px;
  color: #fff;
}
.all ul {
  width: 331px;
  border: 1px solid #75c2f7;
  margin-top: 14px;
}
.bottom_centent {
  width: 333px;
  height: 252px;
  float: left;
}
.bottom_wenben {
  line-height: 24px;
  padding-top: 10px;
  height: 196px;
  background: url(../images/bottom-bg.png) no-repeat;
}
.bottom_wenben li {
  padding-left: 24px;
  color: #fff;
}
.bottom_wenben2 {
  padding-top: 16px;
  height: 190px;
  line-height: 24px;
  margin-left: -1px;
  background: url(../images/bottom-bg.png) no-repeat;
}
.bottom_wenben2 li {
  padding-left: 24px;
}
.bottom_wenben3 {
  padding-top: 8px;
  height: 198px;
  line-height: 24px;
  margin-left: -1px;
  background: url(../images/bottom-bg.png) no-repeat;
}
.bottom_wenben3 li {
  padding-left: 25px;
  color: #fff;
  height: 35px;
}
.fangtu i {
  background: url(../images/fangtu.png) no-repeat;
  width: 30px;
  height: 34px;
  display: block;
  float: left;
  overflow: hidden;
}
.fangtu2 i {
  background: url(../images/fangtu.png) no-repeat;
  width: 30px;
  height: 34px;
  display: block;
  float: left;
  overflow: hidden;
  background-position: 0px -34px;
}
.fangtu3 i {
  background: url(../images/fangtu.png) no-repeat;
  width: 30px;
  height: 34px;
  display: block;
  float: left;
  overflow: hidden;
  background-position: 0px -72px;
}
.fangtu4 i {
  background: url(../images/fangtu.png) no-repeat;
  width: 30px;
  height: 34px;
  display: block;
  float: left;
  overflow: hidden;
  background-position: 0px -107px;
}
.fangtu5 i {
  background: url(../images/fangtu.png) no-repeat;
  width: 30px;
  height: 34px;
  display: block;
  float: left;
  overflow: hidden;
  background-position: 0px -142px;
}
.bottom_1 {
  width: 100%;
  height: 70px;
  background: #003a61;
}
.bottom_1 div {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.bottom_1_1 {
  width: 600px;
  height: 40px;
  margin-top: 14px;
  float: left;
  background: url(../images/fangtu.png) no-repeat left;
  background-position: -76px 0px;
}
.bottom_1_1 span {
  padding-left: 48px ;
  color: #fff;
  line-height: 40px;
}
.bottom_1_2 {
  position: fixed;
  left: 50%;
  bottom: 28px;
  margin-left: 454px;
  width: 44px;
  height: 44px;
  margin-top: -2px;
  background: url(../images/fangtu.png) no-repeat #0570ba;
  background-position: -26px 9px;
}
.guding {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 200px;
  margin-left: 740px;
}
.guding li {
  width: 60px;
  height: 60px;
  border: 1px solid #d0d0d0;
  margin-top: -1px;
}
.guding i {
  width: 62px;
  height: 14px;
}
